<style>
@import url('https://fonts.googleapis.com/css?family=Iceland&display=swap');
</style>

<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
	<div>
		<mat-card class="card" style="background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);">
		<mat-card-header>
			<mat-card-title style="font-family: 'Iceland', cursive;">Vulnerablity Found</mat-card-title>
			<mat-card-subtitle style="font-family: 'Iceland', cursive;font-size: 30px;">30</mat-card-subtitle>
		</mat-card-header>
		</mat-card>
	</div>
	
	<div>
		<mat-card class="card" style="background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);">
		<mat-card-header>
			<mat-card-title style="font-family: 'Iceland', cursive;">Number of Mail Sent</mat-card-title>
			<mat-card-subtitle style="font-family: 'Iceland', cursive;font-size: 30px;">30</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
	</div>

	<div>
		<mat-card class="card" style="background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);">
		<mat-card-header>
			<mat-card-title style="font-family: 'Iceland', cursive;">Number of Issue Closed</mat-card-title>
			<mat-card-subtitle style="font-family: 'Iceland', cursive;font-size: 30px;">30</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
	</div>
</div>
