<div class='md-padding' layout="row" layout-wrap>
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Pie Chart</mat-card-title>
			<mat-card-subtitle>Pie Chart</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			<div>
				<canvas id="canvas" width = "550px" height= "240px"></canvas>
			</div>
		</mat-card-content>
	</mat-card>

	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Pie Chart</mat-card-title>
			<mat-card-subtitle>Pie Chart</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			<div>
				<canvas id="canvas1" width = "550px" height= "240px"></canvas>
			</div>
		</mat-card-content>
	</mat-card>
</div>
